<!-- <input class="form-control" type="text" placeholder="message" [(ngModel)]="input">
<button class="btn btn-success" (click)="sendMessage()">Send</button>
<div class="content">
  <div *ngFor="let msg of this.messageService.messageList">
    {{msg}}
  </div>
</div> -->


<body>
  <div class="chatbox">
    <div class="chatlogs">
      <div class="chat" *ngFor="let msg of this.messageService.messageList">
        <p class="chat-message">{{msg}}</p>
      </div>
      
    </div>
    <div class="chat-form">
      <textarea [(ngModel)]="input"></textarea>
      <button (click)="sendMessage()"> SEND</button>

    </div>
  </div>



</body>